[submodule "drupal"]
	path = drupal
	url = git://drupalcode.org/project/drupal.git
[submodule "sites/all/modules/devel"]
	path = sites/all/modules/devel
	url = git://git.drupalcode.org/project/devel.git
