[submodule "drupal"]
	path = drupal
	url = git://drupalcode.org/project/drupal.git
[submodule "sites/all/modules/devel"]
	path = sites/all/modules/devel
	url = git://git.drupalcode.org/project/devel.git
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = git://git.drupalcode.org/project/views.git
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = git://git.drupalcode.org/project/ctools.git
[submodule "sites/all/modules/panels"]
	path = sites/all/modules/panels
	url = git://git.drupalcode.org/project/panels.git
[submodule "sites/all/modules/git_deploy"]
	path = sites/all/modules/git_deploy
	url = git://git.drupalcode.org/project/git_deploy.git
[submodule "sites/all/libraries/glip"]
	path = sites/all/libraries/glip
	url = git://github.com/halstead/glip.git
[submodule "sites/all/modules/libraries"]
	path = sites/all/modules/libraries
	url = git://git.drupalcode.org/project/libraries.git
[submodule "sites/all/modules/commerce"]
	path = sites/all/modules/commerce
	url = git://git.drupalcode.org/project/commerce.git
[submodule "sites/all/modules/rules"]
	path = sites/all/modules/rules
	url = git://git.drupalcode.org/project/rules.git
[submodule "sites/all/modules/entity"]
	path = sites/all/modules/entity
	url = git://git.drupalcode.org/project/entity.git
[submodule "sites/all/modules/addressfield"]
	path = sites/all/modules/addressfield
	url = git://git.drupalcode.org/project/addressfield.git
[submodule "sites/all/modules/commerce_paypal"]
	path = sites/all/modules/commerce_paypal
	url = git://git.drupalcode.org/project/commerce_paypal.git
[submodule "sites/all/modules/amazon"]
	path = sites/all/modules/amazon
	url = git://git.drupalcode.org/project/amazon.git
